.parallax {
    background-color: transparent;
}

.parallax .container,
.parallax .container-fluid {
    position: relative;
    z-index: 2;
}

.parallax:not(.bg-light) {
    color: #5a5b75;
}

.parallax:not(.bg-light) a:not(.btn):not(.accordion-link):not(.alert-link) {
    color: #5a5b75;
}

.parallax:not(.bg-light) a:not(.btn):not(.accordion-link):not(.alert-link):hover {
    color: rgba(255, 255, 255, .6);
}

.parallax:not(.bg-light) h1,
.parallax:not(.bg-light) .h1,
.parallax:not(.bg-light) h2,
.parallax:not(.bg-light) .h2,
.parallax:not(.bg-light) h3,
.parallax:not(.bg-light) .h3,
.parallax:not(.bg-light) h4,
.parallax:not(.bg-light) .h4,
.parallax:not(.bg-light) h5,
.parallax:not(.bg-light) .h5,
.parallax:not(.bg-light) h6,
.parallax:not(.bg-light) .h6,
.parallax:not(.bg-light) .blockquote-footer,
.parallax:not(.bg-light) .counter .counter-icon {
    color: #5a5b75;
}

.parallax:not(.bg-light) .breadcrumb-item.active,
.parallax:not(.bg-light) .breadcrumb-item + .breadcrumb-item::before {
    color: rgba(255, 255, 255, .6);
}

.parallax:not(.bg-light) .owl-carousel .owl-dots .owl-dot:hover,
.parallax:not(.bg-light) .owl-carousel .owl-dots .owl-dot.active {
    border-color: #5a5b75;
}

.parallax:not(.bg-light) .owl-carousel .owl-dots .owl-dot > span {
    background: #5a5b75;
}

.parallax:not(.bg-light) .form-control {
    background: transparent;
    border-color: rgba(255, 255, 255, .6);
    color: #5a5b75;
}

.parallax:not(.bg-light) .form-control::-webkit-input-placeholder {
    color: #5a5b75;
}

.parallax:not(.bg-light) .form-control::-ms-input-placeholder {
    color: #5a5b75;
}

.parallax:not(.bg-light) .form-control:-ms-input-placeholder {
    color: #5a5b75;
}

.parallax:not(.bg-light) .form-control::-moz-placeholder {
    color: #5a5b75;
}

.parallax:not(.bg-light) .form-control:-moz-placeholder {
    color: #5a5b75;
}

.module-cover .demo-heading {
    font-size: 92px;
}

.module-cover .demo-heading span {
    letter-spacing: -18px;
}

@media (max-width: 991.98px) {
    .module-cover .demo-heading {
        font-size: 44px;
    }

    .module-cover .demo-heading span {
        letter-spacing: -8px;
    }
}

.fullscreen,
.module-cover-slides {
    padding: 0;
    height: 100vh;
}

.fullscreen .container,
.fullscreen .container > .row,
.module-cover-slides .container,
.module-cover-slides .container > .row {
    height: 100%;
}

.fullscreen .container > .row,
.module-cover-slides .container > .row {
    -ms-flex-align: center;
    align-items: center;
}

.about-us-wrap {
    margin-top: -175px;
}

.bg-purple {
    background-color: #4d0187 !important;
}

.parallax:not(.bg-light), .parallax:not(.bg-light) h1 {
    color: whitesmoke !important;
}

.btn-outline-purple {
    border-color: whitesmoke;
    color: whitesmoke;
}

.btn-outline-purple:hover {
    color: rgba(255,255,255,0.7);
    background-color: #4d0187;
    border-color: #4d0187;
}

.navbar-sticky.navbar-stuck {
    background-color: #4d0187 !important;
}

.navbar-sticky.navbar-stuck .nav-link {
    color: rgba(255,255,255,0.7);
}

.navbar-sticky.navbar-stuck .nav-link:hover {
    color: #ffffff !important;
}

.company-icons {
    height: 200px;
}

@media (max-width: 991.98px) {
    .module-cover,
    .module-cover.fullscreen {
        min-height: auto;
        height: auto;
        padding: 120px 0 120px;
    }

    .module-cover h1,
    .module-cover-slides h1 {
        font-size: 2.625rem;
    }

    .module-cover h2,
    .module-cover-slides h2 {
        font-size: 2.375rem;
    }

    .module-cover h3,
    .module-cover-slides h3 {
        font-size: 2.125rem;
    }

    .module-cover h4,
    .module-cover-slides h4 {
        font-size: 1.875rem;
    }
}

@media (max-width: 767.98px) {
    .module-cover,
    .module-cover-slides {
        font-size: .875rem;
    }

    .module-cover h1,
    .module-cover-slides h1 {
        font-size: 2rem;
    }

    .module-cover h2,
    .module-cover-slides h2 {
        font-size: 1.75rem;
    }

    .module-cover h3,
    .module-cover-slides h3 {
        font-size: 1.5rem;
    }

    .module-cover h4,
    .module-cover-slides h4 {
        font-size: 1.25rem;
    }

    .module-cover h5,
    .module-cover-slides h5 {
        font-size: 1rem;
    }

    .module-cover h6,
    .module-cover-slides h6 {
        font-size: .875rem;
    }

    .module-cover br,
    .module-cover-slides br {
        display: none;
    }

    .about-us-wrap {
        margin-top: -100px;
    }
}